# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Project specific
data/
created_hotmails.txt
TODO

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Files
AGENTQL_BESTPRACTICES.md
AGENTQL_LOGIN.md
AGENTQL_UCC.md
ARCHITECTURE.md
PRODUCT_CATEGORIES.md
SELECTORS.md